```yaml
services:
  gateway:
    image: ghcr.io/openclaw/openclaw
    env_file: ./gateway/.env
    environment:
      HOME: /home/node
      TERM: xterm-256color
    volumes:
      - ./volumes/config:/home/node/.openclaw
      - ./volumes/workspace:/home/node/openclaw
      - ./volumes/storage:/home/node/storage
      - ./volumes/files/.bashrc:/home/node/.bashrc
      - ./volumes/files/.profile:/home/node/.profile
      - ./volumes/files/.bash_aliases:/home/node/.bash_aliases
    ports:
      - "18789:18789"
    command: ["node", "dist/index.js", "gateway", "--bind", "0.0.0.0", "--port", "18789"]
    restart: unless-stopped
```
